version: '3.9'

services:

  go-app:
    build: ./app
    container_name: go-app
    volumes:
      - ./logs:/var/log

  fluent-bit:
    image: fluent/fluent-bit:latest
    container_name: fluent-bit
    volumes:
      - ./logs:/var/log
      - ./fluent-bit/fluent-bit.conf:/fluent-bit/etc/fluent-bit.conf
      - ./fluent-bit/parsers.conf:/fluent-bit/etc/parsers.conf
      - ./fluent-bit/state:/fluent-bit/state
    depends_on:
      - middleware-agent


  middleware-agent:
    image: ghcr.io/middleware-labs/mw-host-agent:master
    container_name: middleware-agent
    environment:
      MW_API_KEY: mepdhufxsqkmxuhqqaveqtbdygrnqoofwpif
      MW_TARGET: https://amuby.middleware.io:443
    ports:
      - "8006:8006"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.11.0
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

volumes:
  elasticsearch_data:
